@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-details {
  border: 1px $cloud solid;
  margin: 0rem 1rem;
  background-color: $white;
  position: relative;
  bottom: 80px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    border-bottom: 1px $cloud solid;
    &-left {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  &__name {
    width: max-content;
  }
  &__edit {
    &-image {
      display: flex;
    }
    &-section {
      background-color: $instock-indigo;
      @include dimensions(max-content, max-content);
      padding: 0.5rem;
      border-radius: 50%;
    }
  }
  &__information {
    border-bottom: 1px $cloud solid;
  }
  &__location {
    padding: 1rem;
  }
  &__inventory {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px $cloud solid;
  }
  &__label--mobile {
    width: max-content;
  }
  &__item {
    order: 0;
    &-info {
      width: 50%;
    }
    &-input {
      width: max-content;
    }
    &-redirect {
      display: flex;
      gap: 0.5rem;
      width: max-content;
    }
  }
  &__contact {
    padding: 1rem;
    display: flex;
    &-person {
      width: 50%;
    }
  }
  &__input {
    margin: 0rem;
  }
  &__item-redirect {
    display: flex;
  }
  &__category {
    order: 2;
  }
  &__actions {
    @include space-between;
    width: 100%;
    order: 4;
  }
  &__status {
    order: 1;
  }
  &__quantity {
    order: 3;
  }
}

h5 {
  margin: 0rem;
}
