@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-edit{
  background-color: $white;
  box-shadow: 0 2px 5px 0 #13182C1A;
  border-radius: 3px;
  width: calc(100% - 1.5rem);
  color: $instock-black;
  background-color: $white;
  @include tablet{
    width: calc(100% - 3rem);
}
  @include desktop{
      max-width: 64rem;
      margin-left: auto;
      margin-right: auto;
  }
  &__header-container{
    border-bottom: 1px solid $cloud;
  }
  &__header{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      padding: 2rem 1rem;
      @include tablet{
          padding: 2rem 2rem;
      }
      @include desktop{
          padding: 2rem 2.5rem;
      }
  }
}

.edit-form {
    width: calc(100% - 1rem);
  background-color: $white;
  color: $instock-black;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  border-top: 2px $cloud solid;
  &__separation{
    @include tablet{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }
  }
  &__header {
    padding: 0rem 0rem 1rem;
    margin: 0rem;
  }
  &__warehouse-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  &__label {
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
  &__input {
    padding: 0.5rem;
    border: 1px $instock-black solid;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }
  &__personnel-info {
    @extend .edit-form__warehouse-info;
    border-top: 2px $cloud solid;
    @include tablet {
      border-top: none;
      border-left: 1px solid $cloud;
    }
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    background-color: $light-grey;
    padding: 1rem;
  }
  &__cancel {
    padding: 0rem 1rem;
    border: 1px $cloud solid;
    border-radius: 1rem;
  }
  &__submit {
    padding: 0rem 1rem;
    background-color: $instock-indigo;
    border-radius: 1rem;
    color: $white;
  }
}
.form-container{
    padding: 0 1rem;

    @include tablet{
        padding: 0 2rem;
    }
}

.warehouse-edit-form{
  border: none;
}