@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/alternative-files/TitilliumWeb-Regular.woff2") format("woff2"), url("./assets/fonts/TitilliumWeb-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/alternative-files/TitilliumWeb-SemiBold.woff2") format("woff2"), url("./assets/fonts/TitilliumWeb-SemiBold.woff") format("woff");
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
select {
  font: inherit;
  border-style: none;
  resize: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.warehouse-list {
  background-color: #ffffff;
  width: calc(100% - 1rem);
  border-radius: 0.1875rem;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1019607843);
  margin: auto;
  /*   &__text-container {
    text-align: center;
  } */
}
@media screen and (min-width: 767px) {
  .warehouse-list {
    width: calc(100% - 2rem);
    max-width: 1020px;
  }
}
.warehouse-list__megawrapper {
  border: none;
  /*     border: 2px solid black; */
}
.warehouse-list__header {
  padding: 1.5rem 1rem 1.5rem 1rem;
}
@media screen and (min-width: 767px) {
  .warehouse-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.warehouse-list__title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 767px) {
  .warehouse-list__title {
    margin-left: 2rem;
  }
}
.warehouse-list__search-input {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 1.25rem;
  height: 2.25rem;
  border: 1px solid #5c667e;
  padding: 1rem;
  margin-right: 1rem;
  background-image: url("../../assets/icons/search-24px.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
}
.warehouse-list__search-input:focus, .warehouse-list__search-input:focus-visible {
  border: 1px solid #2e66e5;
  outline: none;
}
@media screen and (min-width: 767px) {
  .warehouse-list__search-input {
    height: 2.375rem;
    max-width: 4000px;
  }
}
.warehouse-list__add-button {
  width: 100%;
  white-space: nowrap;
  border-radius: 1.25rem;
  height: 2.25rem;
  background-color: #2e66e5;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  .warehouse-list__add-button {
    height: 2.375rem;
  }
}
.warehouse-list__cta {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .warehouse-list__cta {
    flex-direction: row;
    margin-right: 2rem;
  }
}
.warehouse-list__column-header {
  text-transform: uppercase;
  color: #5c667e;
  font-size: 0.6875rem;
  line-height: 1rem;
  display: none;
}
@media screen and (min-width: 767px) {
  .warehouse-list__column-header {
    flex-grow: 1;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    gap: 0.125rem;
  }
}
.warehouse-list__horizontal-line {
  border: 1px solid #bdc5d5;
}
@media screen and (min-width: 767px) {
  .warehouse-list__horizontal-line {
    border: 1px solid #f7f8f9;
  }
}
.warehouse-list__item {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}
.warehouse-list__item--subheader {
  display: none;
  /*  border: 2px solid red; */
  /*    &--subheader :nth-child(3) {
    margin-left: 10px;
  } */
  /*     &--subheader :nth-child(4){}
  &--subheader :last-child{} */
}
@media screen and (min-width: 767px) {
  .warehouse-list__item--subheader {
    display: flex;
    background-color: #f7f8f9;
  }
}
.warehouse-list__details {
  flex-grow: 1;
  flex-basis: 40%;
  align-items: center;
  /* padding: 0.5rem; */
  /* border: 2px solid red; */
}
@media screen and (min-width: 767px) {
  .warehouse-list__details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: flex-start;
    width: 100%;
  }
}
.warehouse-list__detail {
  /* border: 2px solid red; */
  /*   display: flex;
  width: 100%;
  white-space: nowrap;
  margin-left: 2rem; */
  /* justify-content: flex-start;
  align-items: center;
  width: max-content; */
}
@media screen and (min-width: 767px) {
  .warehouse-list__detail {
    display: flex;
    width: 100%;
  }
}
.warehouse-list__label {
  font-family: "Titillium Web", sans-serif;
  /* border: red 2px solid; */
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
  color: #5c667e;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 767px) {
  .warehouse-list__label {
    display: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
  }
}
.warehouse-list__item-name {
  font-family: "Titillium Web", sans-serif;
  /*     display: flex;
  align-items: center;
  gap: 0.3125rem; */
  /*   border: blue 2px solid; */
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
  color: #2e66e5;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 767px) {
  .warehouse-list__item-name {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
  }
}
.warehouse-list__text {
  /* margin-left: 0.5rem; */
  white-space: nowrap;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 767px) {
  .warehouse-list__text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
  }
}
.warehouse-list__status {
  font-family: "Titillium Web", sans-serif;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
}
@media screen and (min-width: 767px) {
  .warehouse-list__status {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
  }
}
.warehouse-list__actions {
  display: none;
}
@media screen and (min-width: 767px) {
  .warehouse-list__actions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 10%;
    max-width: 10%;
  }
}
.warehouse-list__action-icons {
  display: flex;
  gap: 1rem;
}
.warehouse-list__hidden {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
@media screen and (min-width: 767px) {
  .warehouse-list__hidden {
    display: none;
  }
}/*# sourceMappingURL=WarehouseListComponent.css.map */